/* Estilos para o corpo da página */
body {
  /* Define um gradiente de fundo para o corpo da página */  
background: rgb(213, 201, 218);
background: linear-gradient(90deg, rgb(172, 180, 58) 24%, rgb(253, 219, 29) 48%, rgb(248, 23, 23) 100%);;
  /* Define a fonte para todo o corpo da página como Arial ou qualquer fonte sans-serif */
  font-family: Arial, sans-serif;
}

/* Estilos para o container do perfil */
/* Estilos para o container principal que envolve todo o conteúdo do perfil */
.profile-container {
  max-width: 600px;
  margin: 50px auto;
  display: block;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background: linear-gradient(135deg, #aaa, #aaaaaa);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona transições suaves */
}

/* Estilos para a imagem do avatar */
img.avatar {
  width: 145px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 20px; /* Aumenta o espaçamento inferior */
  border: 4px solid white; /* Adiciona uma borda branca à imagem */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra mais definida */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona transições suaves */
  text-align: center;
}

/* Estilos para as informações do perfil */
.profile-info {
  margin-bottom: 30px; /* Aumenta o espaçamento inferior */
}

.profile-info p {
  margin: 8px 0; /* Ajusta o espaçamento vertical */
  color: #fff; /* Altera a cor do texto para branco */
}

/* Estilos para o campo de input */
input {
  text-align: center;
  width: 270px;
  padding: 10px; /* Adiciona preenchimento interno */
  border: none; /* Remove a borda padrão */
  border-radius: 20px; /* Ajusta o raio da borda */
  background-color: rgba(255, 255, 255, 0.8); /* Adiciona um fundo semitransparente */
  transition: background-color 0.3s ease; /* Adiciona transições suaves */
}

input:focus {
  outline: none; /* Remove o contorno ao focar */
  background-color: rgba(255, 255, 255, 1); /* Ajusta a cor de fundo ao focar */
}

/* Efeito de hover para o container do perfil */
.profile-container:hover {
  transform: translateY(-5px); /* Levanta o container ligeiramente */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4); /* Ajusta a sombra ao passar o mouse */
}

/* Efeito de hover para a imagem do avatar */
img.avatar:hover {
  transform: scale(1.1); /* Aumenta ligeiramente o tamanho da imagem */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Ajusta a sombra ao passar o mouse */
}